* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #5e5e5e;
    color: #eeeeee;
}

.container {
    background-color: #b1b1b1;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
}

/* FORM */
.formCard {
    background-color: #eeeeee;
    margin: auto 0;
    padding: 20px;
    border-radius: 10px;
}

.textField {
    margin-bottom: 10px;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    padding: 5px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1253a8;
    color: #FFFFFF;
}

/* END FORM */

/* ACCOUNT TABLE */
.accountCard {
    margin: auto 0;
}

.accTbl {
    width: 100%;
    border-radius: 10px;

}

table,
th,
td {
    border: 1px solid #000000;
    border-collapse: collapse;
    background-color: #eeeeee;
}

th,
td {
    padding: 15px;
}

th {
    background-color: #4b80e0;
}

.btnDel:hover {
    background-color: #e71919;
}

.btnUpd:hover {
    background-color: #0daf0d;
}

/* END ACCOUNT TABLE */